@font-face {
  font-family: 'Algerian';
  src: url(../fonts/ALGER.TTF); }

.container {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px; }

body {
  background-color: #108773;
  font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Algerian', 'serif'; }

.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0; }

.nav-item {
  background-color: #E8CB18;
  padding: 2px 5px 2px 5px;
  margin-left: 16px;
  font-size: 1.1em; }

.navbar-brand img {
  width: 250px; }

footer {
  text-align: center;
  background-color: #E9ECEF;
  padding: 10px 10px 10px 10px; }

footer p {
  margin: 0; }

section {
  padding-top: 32px; }

#about h1 {
  padding-bottom: 20px; }

#about p {
  font-size: 22px; }

#info {
  padding-top: 56px;
  padding-bottom: 6px; }

#info p {
  font-size: 1.1em;
  padding-left: 30px; }

.menu td {
  width: 381px !important; }

.menu td + td {
  width: 64px !important;
  text-align: right; }

.drinks h2 {
  text-align: center; }

.drinks p {
  text-align: center;
  margin: 0; }

#drink-sizesPrices {
  padding-bottom: 20px; }

.carousel-item img {
  max-height: 476px; }

#carousel {
  padding-bottom: 25px; }
