// header{
//   background-color: #108773;
// }
.jumbotron{
  padding: {
    top: 20px;
    bottom: 20px;
  }
}
.nav-item{
  background-color: #E8CB18;
  padding: 2px 5px 2px 5px;
  margin-left: 16px;
  font-size: 1.1em;
  // margin-top: 20px;
  font-family: cursive;
}
.navbar-brand img{
  width: 250px;
}